---
---

@import "{{ site.theme }}";

.top-hero {
    background-image: url('../images/bg-header.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}


.img-rounded {
    border-radius: 5%;
}

.img-medium {
    width: 160px;
    height: 120px;
}

body {
    text-align: center;
}